body {
  background-image: linear-gradient(45deg, #22A39F, #540375);
}

h1 {
  color: inherit;
}

h3 {
  color: inherit;
}

hr {
  width: 50%;
  border-style: none;
  border-top-style: dotted;
  border-top-color: white;
  border-width: 5px;

}
